@import url('./theme.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 92%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 88%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 88%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 218 5% 66%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 218 5% 66%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 218 5% 66%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 354, 78%, 46%;
    --destructive-foreground: 0, 0%, 100%;

    --border: 214 32% 86%;
    --input: 214 32% 80%;
    --ring: 222.2 84% 4.9%;

    --success: 151, 100%, 34%;
    --success-foreground: 0, 0%, 100%;

    --info: 192, 85%, 55%;
    --info-foreground: 0 0% 8%;

    --warning: 49, 100%, 58%;
    --warning-foreground: 0 0% 8%;

    --danger: 354, 78%, 46%;
    --danger-foreground: 0, 0%, 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 100%;

    --card: 0 0% 12%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 54%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 54%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 54%;
    --accent-foreground: 0 0% 100%;

    /* --destructive: 354, 78%, 46%;
    --destructive-foreground: 0 0% 8%; */

    --border: 0 0% 15%;
    --input: 0 0% 54%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  /* Scroll bar stylings */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--lightestgrey);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  * {
    @apply border-border font-urbanist;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bg-gradient {
    background: linear-gradient(129deg, #6e38e0 0%, #ff5f36 100%);
  }

  .text-gradient {
    background: linear-gradient(129deg, #6e38e0 0%, #ff5f36 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@layer utilities {
  .markdown {
    @apply max-w-full prose dark:prose-p:text-light-700 dark:prose-ol:text-light-700 dark:prose-ul:text-light-500 dark:prose-strong:text-white dark:prose-headings:text-white prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500;
  }
}

.markdown a {
  color: #1da1f2;
}

.markdown a,
code {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  padding: 2px;
  color: #ff7000 !important;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;

  color: inherit !important;
}
